**
!.dockerignore
!LICENSE
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.build.json
!src/
!src/**
!schemas/
!schemas/integration-v1alpha1.json
!schemas/launch-v1alpha1.json
!schemas/runtime-v1alpha1.json
!third_party/
!third_party/envoy-ext-authz-v1.38.3/
!third_party/envoy-ext-authz-v1.38.3/ext_authz.descriptor.pb
!third_party/envoy-ext-authz-v1.38.3/manifest.json
!third_party/envoy-ext-authz-v1.38.3/LICENSES/
!third_party/envoy-ext-authz-v1.38.3/LICENSES/**
!images/
!images/worker/
!images/worker/Dockerfile
!images/sandbox/
!images/sandbox/Dockerfile
!images/sandbox/entrypoint.sh
!images/sandbox/sshd_config
!dev/
!dev/insecure-sandbox/
!dev/insecure-sandbox/Dockerfile
!dev/insecure-sandbox/entrypoint.sh
!dev/insecure-sandbox/sshd_config
